* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Readex pro;
}

/* head بداية ال */

.head {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 70px;
    background: #d1d1d1;
    display: flex;
    justify-content: space-between;
}

.head h2 {
    font-size: 36px;
    font-weight: 500;
    font-family: Anek Malayalam;
    margin-left: 100px;
    color: #5c5c5c;
    line-height: 70px;
}

.nav {
    line-height: 70px;
    margin-right: 60px;
}

.nav a {
    margin-left: 35px;
    font-size: 16px;
    color: #5c5c5c;
}

/* section-1 بداية ال */

#section-1 {
    background-image: url("images/bg_50.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.section-1 {
    position: absolute;
    top: 220px;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
}

.section-1 h3 {
    font-weight: 400;
    font-size: 24px;
}

.section-1 h2 {
    font-size: 30px;
}

.section-1 h3,
.section-1 h2 {
    color: #5c5c5c;
    margin-bottom: 60px;
}

.section-1 a {
    background: #e63283;
    color: #fff;
    font-size: 20px;
    padding: 10px 15px;
    border: 2px solid #fff;
    margin-top: 50px;
}

/* images بداية ال */

.images {
    display: flex;
    position: relative;
    justify-content: center;
    top: -100px;
}

.images img {
    width: calc(80% / 3);
    height: 240px;
}

.image1 {
    border-left: 15px solid #d3d1d1;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.image2 {
    border-left: 5px solid #d3d1d1;
    border-right: 5px solid #d3d1d1;
}

.image3 {
    border-right: 15px solid #d3d1d1;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.image1,
.image2,
.image3 {
    border-top: 15px solid #d3d1d1;
    border-bottom: 15px solid #d3d1d1;
}

/* section-2 بداية ال */

.section-2 {
    display: block;
    margin: 0 auto 100px;
    width: 90%;
    height: 90vh;
    background: #dddfdd;
    border-radius: 15px;
}

.sec-grad-2 {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 100px;
    padding-top: 100px;
}

.sec-grad-2 .image-2 {
    width: 50%;
}

.sec-grad-2 img {
    width: 100%;
    border: 10px solid #bfbdbd;
}

.sec-grad-2 .text-2 {
    width: 30%;
    font-size: 30px;
    text-align: center;
    margin-top: 90px;
}

.text-2 h2,
p {
    color: #5c5c5c;
    margin-bottom: 30px;
}

p {
    margin-bottom: 100px;
}

.section-2 .text-2 a {
    color: #fff;
    background: #e63283;
    padding: 14px 18px;
    border: 2px solid #fff;
    border-radius: 20px;
}

.section-1 hr {
    background: #bfbdbd;
    width: 80%;
    height: 5px;
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 50px;
}

/* section-3 بداية ال */

.section-3 {
    display: block;
    margin: 0 auto 100px;
    width: 90%;
    height: 87vh;
    background: #dddfdd;
    border-radius: 15px;

}

.sec-grad-3 {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 100px;
    padding-top: 110px;
}

.sec-grad-3 .image-3 {
    width: 50%;
}

.sec-grad-3 img {
    width: 100%;
    height: 420px;
    border: 10px solid #bfbdbd;
}

.sec-grad-3 .text-3 {
    width: 30%;
    font-size: 30px;
    text-align: center;
    margin-top: 70px;
}

.text-3 h2,
p {
    color: #5c5c5c;
    margin-bottom: 30px;
}

p {
    margin-bottom: 100px;
}

.section-3 .text-3 a {
    color: #fff;
    background: #e63283;
    padding: 14px 18px;
    border: 2px solid #fff;
    border-radius: 20px;
}

.section-3 hr {
    background: #bfbdbd;
    width: 80%;
    height: 5px;
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 50px;
}

/* section-4 بداية ال */

.section-4 {
    display: block;
    margin: 0 auto 100px;
    width: 90%;
    height: 95vh;
    background: #dddfdd;
    border-radius: 15px;
}

.sec-grad-4 {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 100px;
    padding-top: 100px;
}

.sec-grad-4 .image-4 {
    width: 50%;
}

.sec-grad-4 img {
    width: 100%;
    border: 10px solid #bfbdbd;
}

.sec-grad-4 .text-4 {
    width: 30%;
    font-size: 30px;
    text-align: center;
    margin-top: 90px;
}

.text-4 h2,
p {
    color: #5c5c5c;
    margin-bottom: 30px;
}

p {
    margin-bottom: 100px;
}

.section-4 .text-4 a {
    color: #fff;
    background: #e63283;
    padding: 14px 18px;
    border: 2px solid #fff;
    border-radius: 20px;
}

.section-4 hr {
    background: #bfbdbd;
    width: 80%;
    border-radius: 50px;
}

/* section-5 بداية ال */
/* inputs بداية ال */

.section-5 {
    display: block;
    margin: 100px auto 0;
    width: 90%;
    height: 95vh;
    background: #dddfdd;
}

.section-5 h2 {
    display: block;
    width: 100%;
    height: 130px;
    font-size: 48px;
    font-weight: 500;
    color: #fff;
    background: #e63283;
    text-align: center;
    line-height: 130px;
}

.footer {
    display: flex;
    justify-content: space-between;
}


.input {
    width: 60%;
    margin: 50px auto 0;
    text-align: center;
    color: black;
}

.input h3 {
    font-size: 26px;
    margin-top: 70px;
}

.input p {
    font-size: 16px;
    font-weight: 600;
    margin-top: 45px;
}

.input input {
    width: 80%;
    height: 40px;
    margin: 0 0 10px;
    padding: 10px;
    outline: none;
    border: none;
    background: #fff;
    border-radius: 30px;
    font-size: 20px;
}

.date {
    width: 85%;
    text-align: center;
    margin: 0 auto;
}
.date input{
    cursor: pointer;
}

span {
    padding: 7px;
    color: #5c5c5c;
    font-weight: 800;
}

::placeholder {
    font-size: 18px;
    color: #8a8a8a;
}

.info {
    width: 40%;
    margin: 50px -50px 0;
    font-size: 16px;
    text-align: center;
}

.info h3 {
    margin-top: 30px;
    font-weight: 500;
}

.cont {
    margin-bottom: 100px;
    font-size: 30px;
    font-weight: bolder;
}

.section-5 hr {
    background: #b7b5b5;
    width: 50%;
    height: 5px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 50px;
    opacity: 35%;
}

button {
    width: 80%;
    height: 45px;
    font-size: 20px;
    font-weight: bolder;
    color: #fff;
    background: #e63283;
    border: 2px solid #fff;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
}